#Entorno virtual
env/

#Archivos compilados de Python
*.pyc
__pycache__/
.pytest_cache/

#Configuración de entorno
.env

# Configuración del IDE
.vscode/
*.sublime-project
*.sublime-workspace

#Claves AWS
Claves-EC2-Municipalidad.pem

#Archivos adicionales
CredencialesSuperUsuario.txt
.vercel

#Documentación en formato md
*.md
